
@media screen and (max-width: 576px) { 
	.slider {
		width: 270px;
		margin: 0 auto;
		overflow-x: scroll;
	}
	.logotype__slider, 
	.branding__slider, 
	.social-network__slider {
		display: none;
	}
	.logotype__slider_small, 
	.branding__slider_small, 
	.social-network__slider_small {
		display: initial!important;
	}
	.image__large {
		position: relative;
		width: 100%;
		opacity: 10;
	}
	.logotype__slide, 
	.branding__slide, 
	.social-network__slide {
		left: 0;
		margin-left: 0;
	}
}