@media (max-width: 576px) {  
	.portfolio__slider:hover #logotype__controls, 
	.portfolio__slider:hover #logotype__active, 
	.portfolio__slider:hover #branding__controls, 
	.portfolio__slider:hover #branding__active, 
	.portfolio__slider:hover #social-network__controls, 
	.portfolio__slider:hover #social-network__active {
		display: none;
	}
	.portfolio__slider:hover .description > p  {
		display: initial;
	} 
	.portfolio__image, .portfolio__slider:hover .portfolio__image {
		display: block;   
		width: 270px;
		height: auto;
		overflow: scroll;
	}
	.image_small, .portfolio__slider:hover .image_small {
		display: none;
	}
	.slides, .portfolio__slider:hover .slides {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.logotype__slides {
		width: 1960px;
		height: auto;
	}
	.branding__slides {
		width: 1680px;
		height: auto;
	}
	.social-network__slides {
		width: 840px;
		height: auto;
	}
	.image__large {
		position: relative;
		width: 270px;
		height: auto;
		margin-right: 10px;
		left: 0;
		margin-left: 0;
		opacity: 1;
		z-index: 1;
		transform: none;
	}
	#logotype1:checked ~ .logotype__slides {
		margin-left: 0;
	}
	#logotype2:checked ~ .logotype__slides {
		margin-left: -270px;
	}
	#logotype3:checked ~ .logotype__slides {
		margin-left: -540px;
	}
	#logotype4:checked ~ .logotype__slides {
		margin-left: 810px;
	}
	#logotype5:checked ~ .logotype__slides {
		margin-left: 1080px;
	}
	#logotype6:checked ~ .logotype__slides {
		margin-left: -1350px;
	}
	#logotype7:checked ~ .logotype__slides {
		margin-left: -1620px;
	}
	#branding1:checked ~ .branding__slides {
		margin-left: 0;
	}#branding2:checked ~ .branding__slides {
		margin-left: -270px;
	}#branding3:checked ~ .branding__slides {
		margin-left: -540px;
	}#branding4:checked ~ .branding__slides {
		margin-left: -810px;
	}#branding5:checked ~ .branding__slides {
		margin-left: 1080px;
	}#branding6:checked ~ .branding__slides {
		margin-left: 1350px;
	}
	#social-network1:checked ~ .social-network__slides {
		margin-left: 0;
	}
	#social-network2:checked ~ .social-network__slides {
		margin-left: -270px;
	}
	#social-network3:checked ~ .social-network__slides {
		margin-left: 540px;
	}   
}