
body {
	background: #000;
}

.portfolio__image {
	width: 370px;
	height: 358px;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
} 
.logotype__slide, 
.branding__slide, 
.social-network__slide {
	position: absolute;
	width: 500px;
	height: auto;
	left: 50%;
	margin-left: -250px;   
	opacity: 0;
	z-index: 0;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);  
	-webkit-transition: transform ease-in-out .5s, opacity .5s;
	-o-transition: transform ease-in-out .5s, opacity .5s;
	transition: transform ease-in-out .5s, opacity .5s;
}  
#logotype1:checked ~ .logotype__slides .logotype__slide_1, 
#logotype2:checked ~ .logotype__slides .logotype__slide_2, 
#logotype3:checked ~ .logotype__slides .logotype__slide_3, 
#logotype4:checked ~ .logotype__slides .logotype__slide_4, 
#logotype5:checked ~ .logotype__slides .logotype__slide_5, 
#logotype6:checked ~ .logotype__slides .logotype__slide_6, 
#logotype7:checked ~ .logotype__slides .logotype__slide_7, 
#branding1:checked ~ .branding__slides .branding__slide_1, 
#branding2:checked ~ .branding__slides .branding__slide_2, 
#branding3:checked ~ .branding__slides .branding__slide_3, 
#branding4:checked ~ .branding__slides .branding__slide_4, 
#branding5:checked ~ .branding__slides .branding__slide_5, 
#branding6:checked ~ .branding__slides .branding__slide_6, 
#social-network1:checked ~ .social-network__slides .social-network__slide_1, 
#social-network2:checked ~ .social-network__slides .social-network__slide_2, 
#social-network3:checked ~ .social-network__slides .social-network__slide_3 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}  
#logotype__controls, 
#branding__controls, 
#social-network__controls, 
#logotype__active, 
#branding__active, 
#social-network__active {
	display: inline-block;
	position: absolute;
	width: 540px;
	height: 30px;
	top: 250px;
	left: -20px;
}  
#logotype1:checked ~ #logotype__controls .log__cont_2, 
#logotype2:checked ~ #logotype__controls .log__cont_3, 
#logotype3:checked ~ #logotype__controls .log__cont_4, 
#logotype4:checked ~ #logotype__controls .log__cont_5, 
#logotype5:checked ~ #logotype__controls .log__cont_6, 
#logotype6:checked ~ #logotype__controls .log__cont_7, 
#logotype7:checked ~ #logotype__controls .log__cont_1, 
#branding1:checked ~ #branding__controls .br__cont_2, 
#branding2:checked ~ #branding__controls .br__cont_3, 
#branding3:checked ~ #branding__controls .br__cont_4, 
#branding4:checked ~ #branding__controls .br__cont_5, 
#branding5:checked ~ #branding__controls .br__cont_6, 
#branding6:checked ~ #branding__controls .br__cont_1, 
#social-network1:checked ~ #social-network__controls .social__cont_2, 
#social-network2:checked ~ #social-network__controls .social__cont_3, 
#social-network3:checked ~ #social-network__controls .social__cont_1 {
	background: url(../images/icons/angle-right.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	right: 0;
	z-index: 100;
	cursor: pointer;
} 
#logotype1:checked ~ #logotype__controls .log__cont_7, 
#logotype2:checked ~ #logotype__controls .log__cont_1, 
#logotype3:checked ~ #logotype__controls .log__cont_2, 
#logotype4:checked ~ #logotype__controls .log__cont_3, 
#logotype5:checked ~ #logotype__controls .log__cont_4, 
#logotype6:checked ~ #logotype__controls .log__cont_5, 
#logotype7:checked ~ #logotype__controls .log__cont_6, 
#branding1:checked ~ #branding__controls .br__cont_6, 
#branding2:checked ~ #branding__controls .br__cont_1, 
#branding3:checked ~ #branding__controls .br__cont_2, 
#branding4:checked ~ #branding__controls .br__cont_3, 
#branding5:checked ~ #branding__controls .br__cont_4, 
#branding6:checked ~ #branding__controls .br__cont_5, 
#social-network1:checked ~ #social-network__controls .social__cont_3, 
#social-network2:checked ~ #social-network__controls .social__cont_1, 
#social-network3:checked ~ #social-network__controls .social__cont_2 {
	background: url(../images/icons/angle-left.png) no-repeat center right;
	position: absolute;
	width: 11px;
	height: inherit;
	display: inline-block;
	left: 0;
	z-index: 100;
	cursor: pointer;
} 
 
input {
	display: none;
}

@media (max-width: 992px) {
	.portfolio__image {
		width: 320px;
		height: 310px;
	} 
} 
