
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth; 
}

body {
	max-width: 1600px;
	margin: 0 auto;
	background: #000;
	font-family: 'Myriad Pro';
	font-weight: normal;
    font-style: normal;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
header {
	width: 100%;
	min-height: 850px;
	background: url(../images/image-main.jpg) no-repeat 50% 0;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	border-top: 1px solid rgba(0,0,0,0);
}
.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

}
.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	list-style: none;
	flex-basis: 80%;
}
li > a {
	font-size: 18px;
	letter-spacing: 3.6px;
	padding: 5px 0;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}
li >a:hover {
	border-bottom: 1px solid #000;
}
.logo {
	margin-top: 50px;
}
.content__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-right: 40px;
}
.holder {
	width: 305px;
	height: 156px;
	margin-top: 50px;
	-ms-align-self: start;
	align-self: start;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.subtitle__main {
	font-size: 14px;
	letter-spacing: 2.4px;
	color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.title__main {
	font-size: 36px;
	color: #b7a7a7;
	font-weight: 400;
	margin: -21px auto;
}
.btn {
	font-family: 'Raleway-Medium';
	font-size: 16px;
	font-weight: 500;
    font-style: normal;
	letter-spacing: 1.6px;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 24px 28px;
	background-color: #fff;
	-ms-align-self: center;
	align-self: center;
	opacity: 75%;
}
.btn:hover {
	opacity: 100%;
}

/* УСЛУГИ */
.services, .test {
	width: 100%;
	padding: 100px 0;
	text-align: center;
}
.subtitle {
	font-size: 18px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
.services__subtitle {
	color: #fff;
}
.title {
	font-family: 'MS Reference Sans Serif';
	font-size: 36px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
.services__title {
	color: #fff;
}
.portfolio {
	width: 100%;
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.logotype__slider_small, 
.branding__slider_small, 
.social-network__slider_small {
	display: none!important;
}

.portfolio__description {
	width: 100%;
	padding: 30px 0;
	text-align: center;
}
.portfolio__text {
	font-family: 'MS Reference Sans Serif';
	font-size: 16px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	color: #fff;
}

/* testimonials */
.testimonials {
	width: 100%;
	background: url(../images/testimonials.jpg) no-repeat 50% 0;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.test__subtitle {
	color: #262626;
}
.test__title {
	color: #000;
}
.reviews {
	width: 100%;
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.review {
	flex-basis: 29%;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000;
}
.review__image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #828b8f;
	margin: 0 auto;
	overflow: hidden;
}
.review__description {
	width: 100%;
	margin-top: 20px;
}
.review__title {
	font-size: 22px;
	font-weight: 400;
	color: #fff;
}
.review__text {
	width: 100%;
	height: 70px;
	margin: 20px 0;
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	overflow: hidden;
}
.review__text:hover {
	overflow: visible;
	cursor: pointer;
	height: auto;
}
.review__socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.review__item {
	margin: 0 6px;
	list-style: none;
	opacity: 0.8;
}
.review__item:hover {
	opacity: 1;
}
.review__item > a {
	 color: #fff;
}
.vk_comments {
	margin-top: 15px;
}

/* Contacts */

.contact__content {
	width: 100%;
	margin: 180px 0 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.post__subtitle, .post__title, .social__subtitle, .social_title {
	color: #fff;
}
.post__title, .social_title {
	display: inline-block;
	width: 80%;
	font-size: 27px;
	line-height: 30px;
	letter-spacing: initial;
	margin: 20px 0;
} 
.contact__post {
	flex-basis: 65%;
}
form > p {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
form p > input {
    display: inline-block;
	flex-basis: 41%;
	height: 80px;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea {
	width: 100%;
	height: 170px;
	margin: 68px 0 30px;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form > input {
    display: inline-block;
	padding: 25px 40px;
	border-radius: 5px;
	cursor: pointer;
}
.contact__social {
	flex-basis: 30%;
}
.social__item {
	display: inline-block;
	margin: 0 35px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
}
.social__item:hover {
	background-color: #f0f;
}
.social__item > a {
	width: 75px;
	display: inline-block;
	height: 75px;
	line-height: 5;
}


/* Footer */

hr {
	width: 100%;
	height: 4px;
	border: none;
	background-color: #fff;
}
.footer__content {
	width: 100%;
	padding: 40px 0;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

@media (max-width: 1200px) {
	.wrapper {
		width: 960px;
	}
	header {
		min-height: 638px;
	}
	.logo {
		margin-top: initial;
	}
	.portfolio {
		justify-content: space-around;
	}  /*
	.portfolio__slider:nth-child(3):hover {
    	order: 3;
    	margin-left: 0;
    }  */
	.contact__content {
		margin: 100px 0 70px;
	}
	.post__title, .social_title{
		font-size: 22px;
	}
	.social__item {
		margin: 0 30px;
	}
}

@media (max-width: 992px) {
	.wrapper {
		width: 720px;
	}
	header {
		min-height: 527px;
	}
	.holder {
		margin-top: 20px;
	}
	.reviews {
		justify-content: space-around;
	}
	.review {
		flex-basis: 40%;
		margin: 20px;
	}
	.subtitle {
		font-size: 10px;
	}
	.post__title, .social_title {
		font-size: 15px;
	}
	.social__item {
		margin: 0 15px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 540px;
	}
	header {
		min-height: 408px;
	}
	.navigation {
		justify-content: flex-end;
		margin-top: 10px;
	}
	.nav {
		justify-content: flex-end;
		flex-basis: 60%;
	}
	.nav > .item {
		margin-left: 15px;
	}
	li > a {
		font-size: 12px;
	}
	.content__main {
		justify-content: center;
		margin-right: 0;
		width: 60%;
		margin-left: 20%;
		background-color:
		rgba(255, 255, 255, 0.6);
	}  /*
	.portfolio__slider:nth-child(1):hover {
	order: 1;
	}
	.portfolio__slider:nth-child(2):hover {
		order: 2;
	}
	.portfolio__slider:nth-child(3):hover {
		order: 3;
	}  */
	.review {
		flex-basis: 60%;
	}
	.contact__content {
		margin: 60px 0 70px
	}
	.contact__post, .contact__social {
		flex-basis: 100%;
		margin-top: 40px;
	}
}

@media (max-width: 576px) {
	.wrapper {
		width: 80%;
	}
	header {
		min-height: auto;
		padding: 20px 0;
		background: none;
		background-color: #eeedec;
	}
	.navigation {
		justify-content: space-between;
	}
	.nav {
		flex-basis: 60%;
		justify-content: space-evenly;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-end;
		align-items: flex-end;
	}
	.content__main {
		background: none;
		width: 100%;
		margin-left: 0;
	}
	.holder {
		margin-top: 40px;
	}
	.subtitle__main {
		font-size: 12px;
	}
	.btn {
		padding: 16px;
	}
	.testimonials {
		background-repeat: repeat-y;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	.review {
		flex-basis: 85%;
	}  /*
	.portfolio__slider:hover .description > p  {
		display: initial;
	}  */
	.contact__content {
		margin: 30px 0;
	}
	form > p {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	form p > input {
		padding: 25px;
		margin: 10px auto;
		width: 100%;
	}
	textarea {
		margin: 20px 0 30px;
	}
	.post__title, .social_title {
		width: 100%;
		font-size: 13px;
	}
	.services__title, .test__title {
		font-size: 25px;
	}
	.social__item a img {
	 width: 50px;
     height: 50px;
	}
	.footer__content {
		font-size: 12px;
	}
}